body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    background-color: #000;
    border: 2px solid #0ff;
    box-shadow: 0 0 20px #0ff, inset 0 0 20px #0ff;
}
